NodeRed/Flows/CPU/flows.json
[{"id":"cd954f88.ddf2b","type":"tab","label":"CPU Info","disabled":false,"info":""},{"id":"ba762c11.e9a74","type":"cpu","z":"cd954f88.ddf2b","name":"Temperature","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":310.5,"y":77,"wires":[["6bcda088.8f5e2"]]},{"id":"b66734c9.5656a8","type":"cpu","z":"cd954f88.ddf2b","name":"CPU Load","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":311.5,"y":258,"wires":[["33f1134f.b7e2dc","11814245.10564e","8424e52c.bfd518"]]},{"id":"50b97be.16cbc84","type":"debug","z":"cd954f88.ddf2b","name":"CPU Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":712.5,"y":77,"wires":[]},{"id":"33f1134f.b7e2dc","type":"debug","z":"cd954f88.ddf2b","name":"CPU Load","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":512.5,"y":258,"wires":[]},{"id":"5c050d6.bd4b8f4","type":"interval","z":"cd954f88.ddf2b","name":"interval","interval":"5","onstart":false,"msg":"ping","showstatus":true,"unit":"seconds","statusformat":"YYYY-MM-D HH:mm:ss","x":109.5,"y":136,"wires":[["ba762c11.e9a74","b66734c9.5656a8"]]},{"id":"6bcda088.8f5e2","type":"function","z":"cd954f88.ddf2b","name":"C to F","func":"msg.payload = msg.payload * 1.8 + 32;\nreturn msg;","outputs":1,"noerr":0,"x":491.5,"y":77,"wires":[["50b97be.16cbc84","892a28ac.738458","40cd90b0.349ce"]]},{"id":"892a28ac.738458","type":"ui_gauge","z":"cd954f88.ddf2b","name":"CPU Temperature","group":"c680578e.a99858","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"˚F","format":"{{value | number:2}}","min":"80","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"135","seg2":"155","x":730.5,"y":118,"wires":[]},{"id":"11814245.10564e","type":"ui_gauge","z":"cd954f88.ddf2b","name":"CPU Load","group":"c680578e.a99858","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Load","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"55","x":511.5,"y":298,"wires":[]},{"id":"40cd90b0.349ce","type":"mqtt out","z":"cd954f88.ddf2b","name":"Temperature","topic":"cpu\\Temperature","qos":"","retain":"","broker":"ba8a92ec.78487","x":711.5,"y":158,"wires":[]},{"id":"8424e52c.bfd518","type":"mqtt out","z":"cd954f88.ddf2b","name":"Load","topic":"cpu\\Load","qos":"","retain":"","broker":"ba8a92ec.78487","x":491.5,"y":339,"wires":[]},{"id":"c680578e.a99858","type":"ui_group","z":"","name":"Display","tab":"a9e55b42.eafda8","order":1,"disp":true,"width":"5","collapse":false},{"id":"ba8a92ec.78487","type":"mqtt-broker","z":"","name":"EDGE_MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9e55b42.eafda8","type":"ui_tab","z":"","name":"CPU","icon":"dashboard","disabled":false,"hidden":false}]