NodeRed/Flows/CPU/flows.json
[{"id":"5ef7db5.17419a4","type":"tab","label":"CPU Info","disabled":false,"info":"Retrieving Temperature and Load of CPU"},{"id":"cdce9f2d.61744","type":"interval","z":"5ef7db5.17419a4","name":"interval","interval":10,"onstart":false,"msg":"ping","showstatus":true,"unit":"seconds","statusformat":"YYYY-MM-D HH:mm:ss","x":140,"y":100,"wires":[["43d67d4d.f4f0c4","e0cd4002.0d004"]]},{"id":"43d67d4d.f4f0c4","type":"cpu","z":"5ef7db5.17419a4","name":"Temperature","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":330,"y":60,"wires":[["3599328.628d1ce"]]},{"id":"e0cd4002.0d004","type":"cpu","z":"5ef7db5.17419a4","name":"Load","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":310,"y":140,"wires":[["6eb0d2d4.8a9c4c"]]},{"id":"3599328.628d1ce","type":"function","z":"5ef7db5.17419a4","name":"C to F","func":"msg.payload = msg.payload * 1.8 + 32;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":60,"wires":[["2e5e93b4.f4133c"]]},{"id":"2e5e93b4.f4133c","type":"debug","z":"5ef7db5.17419a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"6eb0d2d4.8a9c4c","type":"debug","z":"5ef7db5.17419a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]}]